<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <section class="component-meet">
      <div class="component-heading">
        <h2 class="component-text"><span>The Team</span></h2>
        <p class="component-text01">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.
          </span>
        </p>
      </div>
      <div data-teleport="doctors" class="component-doctors">
        <div class="component-doctor">
          <img
            alt="image"
            src="public/playground_assets/dsc_0176.jpg1-400h.jpg"
            class="component-image"
          />
          <div class="component-heading1">
            <h2 class="component-text02">
              <span>Maxwell John A. Arzadon</span>
            </h2>
            <p class="component-text03">
              <span class="component-text04">Saint Louis University</span>
              <br />
              <span>
                Bachelor of Science Major in Information Technology - 2
              </span>
              <br />
              <span>STUDENT</span>
              <br />
            </p>
          </div>
        </div>
        <div class="component-doctor1">
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
            class="component-image1"
          />
          <div class="component-heading2">
            <h2 class="component-text10">
              <span>Carliah Beatriz M. Del Rosario</span>
            </h2>
            <p class="component-text11">
              <span>Saint Louis University</span>
              <br />
              <span>
                Bachelor of Science Major in Information Technology - 2
              </span>
              <br />
              <span>STUDENT</span>
            </p>
          </div>
        </div>
        <div class="component-doctor2">
          <div class="component-heading3">
            <img
              alt="image"
              src="public/playground_assets/a-400h.jpg"
              class="component-image2"
            />
            <h2 class="component-text17">
              <span>Carl  Joshua A. Lalwet</span>
            </h2>
            <p class="component-text18">
              <span>Saint Louis University</span>
              <br />
              <span>
                Bachelor of Science Major in Information Technology - 2
              </span>
              <br />
              <span>STUDENT</span>
            </p>
          </div>
        </div>
        <div class="component-doctor3"></div>
      </div>
      <div data-teleport="doctors" class="component-doctors1">
        <div class="component-doctor4"></div>
        <div class="component-doctor5">
          <img
            alt="image"
            src="public/playground_assets/my%20project-1-400h.jpg"
            class="component-image3"
          />
          <div class="component-heading4">
            <h2 class="component-text24">
              <span>Jessalyn Mae G. Masaba</span>
            </h2>
            <p class="component-text25">
              <span>Saint Louis University</span>
              <br />
              <span>
                Bachelor of Science Major in Information Technology - 2
              </span>
              <br />
              <span>STUDENT</span>
            </p>
          </div>
        </div>
        <div class="component-doctor6">
          <img
            alt="image"
            src="public/playground_assets/me%20white-300w.png"
            class="component-image4"
          />
          <div class="component-heading5">
            <h2 class="component-text31">
              <span>Jan Ivan Ezra D. Paguyo</span>
            </h2>
            <p class="component-text32">
              <span>Saint Louis University</span>
              <br />
              <span>
                Bachelor of Science Major in Information Technology - 2
              </span>
              <br />
              <span>STUDENT</span>
            </p>
          </div>
        </div>
        <div class="component-doctor7"></div>
      </div>
      <img
        alt="image"
        src="public/playground_assets/doctor-2-1600h.png"
        class="component-image5"
      />
    </section>
  </div>
</div>
