<div>
  <link href="./practice11.css" rel="stylesheet" />
  <div class="practice11-practice">
    <div class="practice11-heading"></div>
    <div class="read-more">
      <span class="practice11-text">Read more</span>
      <img
        alt="image"
        src="data:image/svg;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzEwNDFfODQ1KSI+CjxwYXRoIGQ9Ik0wLjg1MzUxNiA2SDEyLjEwMzIiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIvPgo8cGF0aCBkPSJNNi42MDQ0OSAwLjUwMTIyMUwxMi4xMDMzIDYuMDAwMDRMNi42MDQ0OSAxMS40OTg5IiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMDQxXzg0NSI+CjxyZWN0IHdpZHRoPSIxMi4yNTIiIGhlaWdodD0iMTIiIGZpbGw9IndoaXRlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjg1MzUxNikiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K"
        class="practice11-image"
      />
    </div>
  </div>
</div>
